@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-container {
    padding: 20px;
    background-color: #f4f4f9;
    min-height: 100vh;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }